/*DEVELOPER: Anusree Iyer, IS117-001, FA2022 */
header h1{
    text-align:center;
    font-size:40px;
    color: #931420;
    padding-top:30px;
}

.item1{
    text-align:right;
    padding-top:90px;
}

.item2{
    text-align:left;
}

.item3{
    text-align:right;
}

div nav{
    text-align:center;
    padding:40px;
}


body p{
    padding-bottom:100px;
}

footer{
   text-align:center;
}